.customers-list {
  display: flex;
  justify-content: space-between;
}
.customers-list-item {
  border-radius: 5%;
  border: 1px solid rgba(175, 177, 184, 1);
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.customers-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.icon-yaco {
  width: 41px;
  height: 47px;
}
.icon-tagline-here {
  width: 40px;
  height: 52px;
}
.icon-company {
  width: 43px;
  height: 41px;
}
.icon-foster-peters {
  width: 84px;
  height: 41px;
}
.icon-brand {
  width: 62px;
  height: 45px;
}
.icon-company-tagline {
  width: 94px;
  height: 44px;
}
